*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#wrapper
{
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
   
}
.container{
    height:90%;
    max-width: 1000px;
    margin:0 auto;
    padding:10px;
    display:grid;
    grid-template-rows:30px 1fr 30px;
    grid-template-columns: 100px 400px;
    grid-gap: 20px;
    grid-template-areas: 
    "c1 c1 c1 c2";
}  
.content1{
    grid-area: c1;
}
.content2
{
    grid-area: c2;
}