.container
{
    width:100%;
    background-color:yellow;
    height:212px;
    border:2px solid red;
}
.box{
    height:212px;
    width:212px;
    animation-name:jay;
    animation-duration: 3s;
    animation-iteration-count: 2; 
    /* animation-iteration-count:infinite; */
    /* animation-timing-function: ease-in; */
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-delay: 1s;
     /* animation-direction: alternate; */
     animation-fill-mode: forwards;
    background-color: aqua;
}

/* @keyframes jay
{
    from{
       width:212px;
    }

    to{
       width:100%;
    }
} */
@keyframes jay
{
    0%{
       width:212px;
       background-color: aqua;
    }

    30%{
       width:35%;
       background-color:rebeccapurple;
    }
    60%{
        width:70%;
        background-color:yellowgreen;
    }
    100%{
        width:100%;
        background-color: goldenrod;
    }
}